.title {
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  width: 100%;
  
}

@media (max-width: 600px) {
  .title {
    font-size: 12vw;
  }
  .header {
    height: 20vh;
    justify-content: space-evenly;
    
  }
}

.inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.search,
.select {
  width: 40%;
}
