.meanings {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 55vh;
  border-radius: 10px;
  border: 10px groove rgb(185, 185, 185);
  padding: 10px 20px;
}

@media (max-width: 700px) {
  .meanings {
    height: 50vh;
    width: 80%;
  }
}

.subTitle {
  font-size: 5vw;
  font-family: "Montserrat", sans-serif;
}

.singleMean {
  background: "transparent";
  font-family: "Montserrat", sans-serif;
  box-shadow: 0.5px 0.5px 5px 1px rgba(15, 15, 15, 0.274);
   border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  gap: 10px;
  margin: 10px 0px;
  letter-spacing: 1px;
 font-weight: 800;
}

.audioBar {
  width: 100%;
}

@media (max-width: 600px) {
  .singleMean {
    background: transparent;
    gap: 3px;
    margin: 3px 0;
    box-shadow: 0.5px 0.5px 5px 1px rgba(15, 15, 15, 0.274);
    padding: 10px 20px;
    font-weight: 800;
  }
}
